.ohh{
    width: 240px;
    height: 30px;
    border: 2px solid white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    border-radius: 3px;
    
    
}